#sketch_button{
    float:right;
}

#timer{
    float: right;
    margin-right:50px;
    font-size: 40px;
}

#score{
    margin-left:50px;
    font-size: 40px;

}

body{
    background:linear-gradient(pink 0%,orange 100%);
}